appdirs==1.4.3
Beaker==1.8.1
beautifulsoup4==4.6.3
bs4==0.0.1
chardet==3.0.4
cupshelpers==1.0
elasticsearch==6.3.1
gufw==17.10.0
idna==2.6
lightdm-gtk-greeter-settings==1.2.2
louis==3.3.0
lxml==4.2.5
Mako==1.0.7
MarkupSafe==1.0
npyscreen==4.10.5
numpy==1.15.4
packaging==16.8
pacman-mirrors==4.6
pycairo==1.15.4
pycups==1.9.73
pycurl==7.43.0
pygobject==3.26.1
pyparsing==2.2.0
ranger==1.8.1
requests==2.18.4
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
speedtest-cli==1.0.7
syslogng==1.0
team==1.0
urllib3==1.22
